@font-face {
    font-family: outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: youngserif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
body{
    background-color:#F3E5D7;
    display:flex;
    margin:0;
    align-items: center;
    height:100vh;
}

#block{
    background-color:white;
    width:736px;
    margin:auto;
    border-radius:24px;
}

#content{
    width:656px;
    margin:auto;
    margin-top:40px;
    margin-bottom:40px;
}

img{
    width:656px;
    display:block;
    margin:auto;
    border-radius:12px;
    margin-bottom:40px;
}

.title{
    color:#312E2C;
    font-family:youngserif;
    font-size:40px;
}

.description{
    color:#5F564D;
    font-family:outfit;
    font-size:16px;
}