@font-face {
    font-family: outfit;
    src: url(assets/fonts/outfit//static/Outfit-Regular.ttf);
}
@font-face {
    font-family: youngserif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: outfitsemibold;
    src: url(assets/fonts/outfit/static/Outfit-SemiBold.ttf);
}
@font-face {
    font-family: outfitbold;
    src: url(assets/fonts/outfit/static/Outfit-Bold.ttf);
}
body{
    background-color:#F3E5D7;
    font-size:16px;
    color:#5F564D;
    font-family:outfit;
    padding-top:128px;
    padding-bottom:128px;
    display:flex;
    margin:0;
    align-items: center;
}

#block{
    background-color:white;
    width:736px;
    margin:auto;
    border-radius:24px;
}

#content{
    width:656px;
    margin:auto;
    margin-top:40px;
    margin-bottom:40px;
}

img{
    width:656px;
    display:block;
    margin:auto;
    border-radius:12px;
    margin-bottom:40px;
}

.maintitle{
    color:#312E2C;
    font-family:youngserif;
    font-size:40px;
}

.description{
    color:#5F564D;
    font-family:outfit;
    font-size:16px;
}

#preptime{
    background-color:#FFF7FB;
    margin-top:32px;
    margin-bottom:32px;
    border-radius:12px;
    color:#7A284E;
    line-height:225%;
    padding:24px;
}

li{
    padding-left:20px;
    line-height:225%;
}

.title{
    font-size:28px;
    font-family:youngserif;
    color:#854632;
}

hr{
    color:#E3DDD7;
}

table{
    width:100%;
}

td{
    border-bottom:1px solid #E3DDD7;
    padding:16px;
}

.measurements{
    color: #854632;
    font-family:outfitbold;
}

/*tablet view*/
@media only screen and (max-width: 768px) {
    #block{
        width: 616px;
    }
    #content, img{
        width:536px;
    }
    #preptime{
        width:488px;
    }
}

/*phone view*/
@media only screen and (max-width: 375px) {
    #block{
        width:375px;
    }
    img{
        width:375px;
        border-radius:0;
    }
    #content{
        width:311px;
    }
    #preptime{
        width:263px;
    }
    body{
        padding-top:0px;
        padding-bottom:0px;
        color:white;
    }
    .maintitle{
        font-size:36px;
    }
}